/* App-wide styling */
body {
  background-color: #0f1116;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
  margin: auto;
  grid-auto-rows: 1fr;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  aspect-ratio: 1 / 1;
}

.selected-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  aspect-ratio: 1 / 1;
}

#title {
  text-align: center;
  padding-top: 10px;
  border-bottom: 1px solid #a8a8a8;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#buttons-container {
  max-width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#deselect {
  background-color: gray
}

#shuffle {
  background-color: gray;
}

#submit {
  background-color: gray;
}

#deselect,
#shuffle,
#submit {
  padding: 5px 30px 5px 30px;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(230, 230, 230)
}
